{% extends 'base.html' %}
{% load static %}
{% block title %} Cart {% endblock %}
{% block body %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">

            <div class="col-12">

                <div class="table-content table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="li-product-remove">remove</th>
                            <th class="li-product-thumbnail">images</th>
                            <th class="cart-product-name">Product</th>
                            <th class="li-product-price">Unit Price</th>
                            <th class="li-product-quantity">Quantity</th>
                            <th class="li-product-subtotal">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in all_cart %}
                        <tr>
                            <td class="li-product-remove"><a href="{%   url 'remove_cart' i.id %}"><i class="fa fa-times"></i></a></td>
                            <td class="li-product-thumbnail"><a href="#"><img style="height:80px; width:90px; "
                                                                              src="{{i.product.image.url}}"
                                                                              alt="Li's Product Image"></a></td>
                            <td class="li-product-name"><a href="#">{{i.product.title}}</a></td>
                            <td class="li-product-price"><span class="amount">{{i.product.price}}</span></td>
                            <td class="quantity">
                                <label>Quantity</label>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" value="{{i.quantity}}" type="text">

                                    <a href="{% url 'minus_cart' i.product.id %}"><div class="dec qtybutton"><i class="fa fa-angle-down"></i></div></a>

                                   <a href="{% url 'plus_cart' i.product.id %}"><div class="inc qtybutton"><i class="fa fa-angle-up"></i></div></a>

                                </div>
                            </td>
                            <td class="product-subtotal"><span class="amount">{% widthratio i.product.price 1 i.quantity %}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-md-5 ml-auto">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li style="color:red;padding:0px;">
                                    {{ message}}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <div class="form-check form-check-inline">
                                    <input style="height: 15px; width: 15px;" class="form-check-input" type="checkbox"
                                           name="deliver" id="inlineCheckbox1" value="1">
                                    <label class="form-check-label" for="inlineCheckbox1">Inside Dhaka</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input style="height: 15px; width: 15px;" class="form-check-input" type="checkbox"
                                           name="deliver" id="inlineCheckbox2" value="2">
                                    <label class="form-check-label" for="inlineCheckbox2">Outside Dhaka</label>
                                </div>
                                <br>
                                <br>
                                <ul>
                                    <li>Subtotal <span>{{subtotal}}</span></li>

                                </ul>
                                <br>

                                <button type="submit" class="btn" id="mc-submit" style="color:black;">
                                    Proceed to checkout
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}