{% extends 'authority_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}


{% block body %}
<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Color List</h6>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-success" href="{% url "authority:add_product_color" %}" role="button"><i class="fa-solid fa-circle-plus me-2"></i>Add Color</a>
    </div>
    {% comment %} <div class="col-md-6 mb-4">
      <form class="d-flex">
        {{color_list.form.color}}
        <button class="btn btn-primary ms-2" type="submit">Search</button>
      </form>
    </div> {% endcomment %}
    
    <table class="table table table-hover ">
        <thead class="table-dark">
            <tr>
              <th scope="col">Sl</th>
              <th scope="col">Color</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody> 
            {% if color_list %} 
                {% for color in color_list.qs %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td> 
                      {% if color.color %}
                        {{color.color}}
                      {% else %}
                        N/A
                      {% endif %}
                    </td>
                    <td>{{color.created_at}}</td>
                    <td>{{color.updated_at}}</td>
                    <td>
                        <a class="btn btn-success" href="{% url "authority:update_product_color" color.id %}" role="button">Edit</a>
                        
                    </td>
                  </tr>
                {% endfor %}     
            {% endif %}
            </tbody>      
      </table>
</div>

{% endblock body %}